
.button {
  display: inline-flex;

  .button-text{
    position: relative;
    z-index: 999;
  }

  &-slider {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(243, 213, 23));
      width: 0%;
      height: 100%;
      transition: width 0.3s;
    }

    &:hover::before {
      content: '';
      width: 100%;
    }


    &-lg {
      font-family: $f-oswald;
      color: $c-white;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      border: 2px solid $c-white;
      text-transform: uppercase;
      padding: 15px 50px;
      border-radius: 2px;

      &:hover {
        color: $c-white;
        text-decoration: none;
      }
    }
  }



  &-buy {
    cursor: pointer;
    color: $c-white;
    background: $c-btn-buy;
    transition: background 0.3s;
    position: relative;

    &:hover {
      background: rgba(44, 44, 44, 0.95);
    }

    &:hover::before {
      height: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: $c-black;
      transition: height 0.3s;
    }
  }


  &__stock {
    font-family: $f-oswald;
    color: $c-black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid $c-black;
    transition: border .3s ease-in-out;

    @media (max-width: 991px) and (min-width: 360px) {
      font-size: 12px;
    }

    &:hover {
      color: $c-black;
      text-decoration: none;
      border: 1px solid $c-yellow;

    }
  }

  &__collapse {
    display: flex;
    border-radius: 5px;
    color: $c-black;
    position: relative;
    font-size: 18px;

    &:hover, &:active, &:focus {
      color: $c-black;
      text-decoration: none;
    }

    &_arrow-bottom {
      content: '';
      position: absolute;
      top: 25px;
      right: 30px;
      width: 10px;
      height: 10px;
      border-right: 1px solid $c-black;
      border-top: 1px solid $c-black;
      transform: rotate(-45deg);
      transition: all 0.5s ease-in-out;
    }
  }
}