
.desc {

  &__sm {
    font-family: $f-openSans;
    color: $c-black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    @media (max-width: 991px) and (min-width: 360px) {
      font-size: calc(18px / 1.5);
    }
  }

  &-slider {

    &-sm {
      font-family: $f-openSans;
      color: $c-white;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
  }
}