
.header-mobile-menu__hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  display: none;

  @media (max-width: 991px) {
    display: block;
  }
}

.hamburger {
  padding: 10px 10px 5px 10px;
  background: $c-yellow;
  outline: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  height: 2px;
}