
.title {

  &-slider {

    &-h2 {
      font-family: $f-oswald;
      color: $c-white;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
    }
  }

  &-h1 {
    font-family: $f-oswald;
    color: $c-black;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    margin: 0;

    @media (max-width: 991px) and (min-width: 360px) {
      font-size: 24px;
    }
  }

  &-h2 {
    font-family: $f-oswald;
    color: $c-black;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }

  &-h3 {
    font-family: $f-oswald;
    color: $c-black;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
  }

  &-h4 {
    font-family: $f-oswald;
    color: $c-black;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    margin: 0;
  }

  &__stock {


    &_h2 {
      font-family: $f-oswald;
      color: $c-black;
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      margin: 0;
    }

    @media (max-width: 991px) and (min-width: 360px) {
      font-size: calc(46px / 2);
    }
  }
}
