
.sytetic-ui {


  &__select {
      cursor: pointer;
      border: 1px solid $c-old-price;

    &_arrow-bottom {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 12px;
        right: 15px;
        width: 10px;
        height: 10px;
        border-right: 1px solid $c-black;
        border-top: 1px solid $c-black;
        transform: rotate(135deg);

        @media (max-width: 991px) and (min-width: 769px) {
          top: 8px;
        }

        @media (max-width: 768px) and (min-width: 360px) {
          top: 5px;
        }
      }
    }

    &_header {

    }


    .dropdown-menu {
      position: relative;
      float: inherit;
      left: inherit;
      border-radius: 0;
      width: 100%;
      border: 0;
      padding: 0;

      &_box-link {
        display: flex;
        background: $c-yellow;
        transition: all .3s;
        color: $c-white;
      }

      &_box-link:hover {
        transform: translateX(15px);
      }
    }
  }
}


.ul__yellow_circle {
  list-style: none;

  li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: -18px;
      width: 5px;
      height: 5px;
      background: $c-yellow;
      border-radius: 50px;
    }
  }
}


.black-line {
  height: 3px;
  width: 100%;
  background: $c-black;
}


.input, .textarea, .select {
  background: $c-white;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  outline: none;
  transition: all .3s ease-in-out;

  &:focus {
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.04);
  }
}

.textarea {

  &__h-260 {
    height: 260px;
  }

}

.circle-dots-wrapper {
  display: inline-flex !important;
  cursor: pointer;
  position: relative;

  input[type='radio'] {
    display: none;
  }

  .circle-dots {
    position: absolute;
    top: 0;
    left: -15px;
    width: 15px;
    height: 15px;
    background: $c-white;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $c-black;




    .circle-dots-active {
      width: 11px;
      height: 11px;
      border-radius: 10em;
      background: $c-black;
      border: 2px solid $c-white;
      transform: scale(1);
    }
    span {
      width: 11px;
      height: 11px;
      border-radius: 10em;
      background: transparent;
      border: 2px solid #f6f6f6;
      transition: all .3s ease-in-out;
      transform: scale(0);
    }
  }
}


label.checkbox-box {
  cursor: pointer;
  margin: 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  background: url(../../img/icons/check-false.svg) no-repeat;
  background-size: cover;
}

.checkbox__check {
  background: url(../../img/icons/check-true.svg) no-repeat;
  background-size: cover;
}

.checkbox-d-none {
  display: none;
}



label {
  font-weight: 100;
  font-size: 14px;
  color: $c-black;
}

.rules-valid-file {
  font-size: 12px;
  color: $c-old-price;
}

.noUi-connect {
  background: $c-yellow !important;
}


//.tooltip-box {transition: opacity .3s ease-in-out}
.tooltip-box:hover .filter-tooltip{
  opacity: 0.7;
}

.filter-tooltip {
  color: #107CFB;
  border: 1px solid #107CFB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10em;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}


.tooltip-inner {
  color: $c-black;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  text-align: left;
  padding: 0 15px 15px 15px;
}

.tooltip.in {
  opacity: 1 !important;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  border-width: 0 6px 5px;
  border-bottom-color: #E9E9E9;
}

.noUi-target {
  background: #E9E9E9 !important;
  border-radius: 4px !important;
  border: 1px solid #E9E9E9 !important;
  box-shadow: none !important;
}

.noUi-horizontal {
  height: 10px !important;
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
  top: -9px !important;
  outline: $c-yellow;
  width: 34px !important;
  height: 25px !important;
}

.noUi-handle:after, .noUi-handle:before {
  background: transparent !important;
}

.bg {

  &__yellow {
    background: $c-yellow;
  }
}

.color {

  &__black {
    color: $c-black;

    &:hover {
      color: $c-white;
    }
  }
}