/*Created by web-developer: hard-phillakt@mail.ru*/

// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

// Fonts
$f-oswald: 'Oswald', sans-serif;
$f-openSans: 'Open Sans', sans-serif;

// Color
$c-yellow: #F3D517;
$c-white: #fff;
$c-black: #000;
$c-brown: #8F5541;
$c-gray: #F6F6F6;
$c-old-price: #9F9F9F;
$c-btn-buy: #2C2C2C;


@import 'blocks/responsive';
@import 'blocks/fonts';
@import 'blocks/button';
@import 'blocks/m-p-grid';
@import 'blocks/link';
@import 'blocks/desc';
@import 'blocks/title';
@import 'blocks/card';
@import 'blocks/header';
@import 'blocks/cart';
@import 'blocks/slider';
@import 'blocks/floor-coverings';
@import 'blocks/hit-sales';
@import 'blocks/hamburger';
@import 'blocks/layers-banner';
@import 'blocks/UI';
@import 'blocks/footer';
@import 'blocks/stock';
@import 'blocks/additional-menu';
@import 'blocks/about';
@import 'blocks/map';
@import 'blocks/cooperation';
@import 'blocks/rise';
@import 'blocks/credit';
@import 'blocks/return';
@import 'blocks/article';
@import 'blocks/product';

body {
    background: $c-white;
    margin: 0;
}

::-webkit-scrollbar {
    width: .3em;
}

::-webkit-scrollbar-thumb {
    background-color: $c-black;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(230,116,48,.05);
}

// display-align-items
.dai-c {
    display: flex;
    align-items: center;
}



// display-justify-content
.djc-s {
    display: flex;
    justify-content: flex-start;
}

.djc-c {
    display: flex;
    justify-content: center;
}

.djc-end {
    display: flex;
    justify-content: flex-end;
}

.dai-end {
    display: flex;
    align-items: flex-end;
}

.djc-sb {
    display: flex;
    justify-content: space-between;
}

.djc-sa {
    display: flex;
    justify-content: space-around;
}

.dfd-column {
    display: flex;
    flex-direction: column;
}
